table thead tr {
    background-color: #d3d3d3; /* Color de fons per a la fila dels encapçalaments */
    font-weight: bold; /* Text en negreta per als encapçalaments */
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

.centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #4f81bd;
}