<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      padding-top: 200px;
      color: #777;
    }
    p {
      font-size: 18px;
    }
  </style>
</head>
<body>
  <p>Fi del document</p>
  <p>{{ config.site_name }} – {{ now.strftime('%Y') }}</p>
</body>
</html>